@font-face {
  font-family: 'Oswald';
  src: url('/fonts/oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/openSans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  src: url('/fonts/lato/Lato-Regular.ttf') format('truetype');
}

:root {
  --white-color: #EEE;
  --light-gray-color: #DDD;
  --purple-color: #a553ba;
  --gray-color: #999;
  --text-black-color: #333;
  --content-side-color:#555555;
  --content-max-width: 55em;
}

body {
  background-color: var(--gray-color);
  font-family: "Lato";
  margin: 0;
}
ul, ol, li, p, h1, h2, h3 {
  margin: 0; padding: 0;
}
a {
  text-decoration: none;
  color: var(--gray-color);
}
a:hover {
  color: var(--purple-color);
}
p, h3 {
  font-size: 1.25rem;
  line-height: 1.4em;
  color: var(--text-black-color);
  padding-top: 1rem;
}
input, label {
  display: block;
}
main {
  margin: 0em 2em 3em 2em;
}

.bodyWrapper {
  background-color: var(--white-color);
  max-width: var(--content-max-width);
  min-height: 100%;
  margin: auto;
}

header {
  text-align: center;
  padding: 1em 0em;
}
header a {
  color: var(--text-black-color);
}
header a:hover {
  color: var(--text-black-color);
}
header h1 {
  font-size: 3em;
  padding-bottom: 0;
  font-family: "Oswald";
  text-transform: uppercase;
}
header h2 {
  font-size: 1em;
  padding-bottom: .5em;
  font-family: "OpenSans";
  text-transform: uppercase;
}


nav {    
  background-color: var(--purple-color);
  text-align: center;
  padding: 1em;
  font-family: "OpenSans";
  text-transform: uppercase;
  list-style: none;
}
nav li {
  font-size: 1.25rem;
  line-height: 1.4em;
  display: inline-block;
  padding: 0 0.7em;
  position: relative;
  white-space: nowrap;
}
nav a {
  color: var(--light-gray-color);
}
nav li:hover a {
  color: var(--text-black-color);
}
nav li ul {    
  display: none;
  text-align: left;
  overflow: visible;
  width: auto;
  z-index: 10;
}
nav li:hover ul {
  display: block;
  background-color: var(--purple-color);
  position: absolute;
  padding-top: 1em;
  padding-bottom: .7em;
  left: 0;
}
nav li:hover li {
  display: block;
  padding-top: 0.5rem;
}
nav li:hover li a {
  color: var(--light-gray-color);
}
nav li:hover a:hover {
  color: var(--text-black-color);
}


.upcoming-performance {
  padding-bottom: 3em;
}
.upcoming-performance h1, .upcoming-performance h2 {
  display: inline;
  padding-right: .5em;
}
.prior-performances li {
  list-style: none;
}


.show-dates {
  padding-top: 1em;
  padding-bottom: 0;
}
.venue {
  font-weight: normal;
  font-size: 1.17rem;
  padding: .25em 0 0 0;
}
.show-times {
  display: block;
  width: 100%;
  margin: 0 auto;    
  padding-top: 1.4em;
  padding-bottom: 0.6em;
  text-align: center;
}
.show-times li {
  display: inline-block;
  margin: 0 auto;    
  font-size: 1.17rem;
  list-style: none;
  font-weight: bold;
  padding: 0 1em;
}
.cast-list {
  padding-left: 2em;
  padding-top: .4em;
  font-size: 1.17rem;
}
.cast-list li {
  list-style: none;
  color: var(--gray-color);
  padding-top: 0;
  font-size: 1.17rem;
}
.cast-list h3 {
  display: inline;
  color: var(--text-black-color);
  padding-right: .25em;
  font-size: 1.17rem;
}
.company-list {
  display: inline;
}
.company-list li {
  display: inline;
  color: var(--gray-color);
  font-size: 1.17rem;
}
.company-list li:not(:last-child):after {
  content: ', ';
}


.bio-title {    
  padding-top: 2em;
  padding-bottom: .5em;
}
.bio-title  h1, .bio-title h2 {
  display: inline;
  padding-right: .5em;
  padding-bottom: 0;
}
.bio-image img {
  display:block;
  margin: 0 auto;
  max-width: 60%;
  max-height: 20em;
}
.bio-image p {
  text-align: center;
  font-size: .75em;
}